@media screen and (min-width:900px){
    body{
        background-color:hsl(30, 38%, 92%); 
    }
    /* this div is the main div which has pink color */
.main-div{
    background-color:hsl(30, 38%, 92%);
   

    
}

.container{
    width: 800px;
    height: 500px;
    display: flex;
    margin: 150px 300px;
    padding:30px;
    

}

img{
    height: 500px;
    width: 380px;
    
}

/* this is image container */
.img
{
    
    width: 50%;
    
}

.text{
    width: 50%;
    padding: 20px;
    padding-left: 30px;
    background-color: white;

}

.text>h2{
    font-size: 45px;
    margin: 5px auto;
    font-family: 'Fraunces', serif;   
}

.text>p{
    font-size:15px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
}

/* perfume */
.text>h3{
    color: hsl(228, 12%, 48%);
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
}

/* amount */
.text>h1{
    font-size:50px ;
    color:hsl(158, 36%, 37%);
    width: 192px;
    height: 48px;
    display: inline-block;
    padding: 5px;
    margin-top: 1px;
    margin-right: 20px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

div.discount>span{
    margin-bottom: 100px;
    position: relative;
    bottom:10px;
    font-size: 15px;
    stroke: black;
    
    font-family: 'Montserrat', sans-serif;
}

div.discount{
    height: 25px;
    width: 65px;
    color: hsl(228, 12%, 48%);
}

.button-div{
    padding: 10px;
    padding-left: 10px;
    width: 305px;
    margin: -20px auto;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    border: 1px solid hsl(158, 36%, 37%)    ;
    
}

.button-div{
    width: 300px;
    margin-left: 8px;
    
}

.button-div a{
    font-size: 23px;
    color: white;
    text-decoration: none;
}

}


@media screen and (max-width:800px) {
   body{
    
        background-color:hsl(30, 38%, 92%); 
    
   }

   .main-div{
    width: 90vw;
    margin: 1px auto;
    display: flex;
    
   }

    .container{
        display:flex;
        flex-direction: column;
        
        width: 90vw;
    }
   section.img img{
    width: 90vw;

    height: 38vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 0px;
    margin-top: 2vh;
    
   }

   .text{
    background-color: white;
    margin-top: 1px;
    width: 90vw;
    position: relative;
    bottom: 5px;

   }
   .text h3{
    color: hsl(228, 12%, 48%);
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin-left: 10vw; 
    font-size: 15px;
   }
   
   .text h2{
    font-size: 30px;
    font-family: 'Fraunces', serif; 
    margin-left: 10vw;  
    margin-top: 5px;
   }

   .text p{
    margin-left: 10vw;
    color: hsl(228, 12%, 48%); 
    font-family: 'Montserrat', sans-serif;
    position: relative;
    
   }

   /* amount which is dashed */
   del{
    position: relative;
    bottom: 8px;
    stroke: black;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
   }

   .text h1{
    font-family: 'Fraunces', serif;
    font-weight: 700; 
    display: inline-block;
    color: hsl(158, 36%, 37%);
    font-size: 40px;
    margin-right: 40px;
    margin-left: 10vw;
   }
   .button-div{
    display: block;
    width: 70vw;
    height: 5vh;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    border: 1px solid hsl(158, 36%, 37%);
    margin-left: 10vw;
    margin-bottom: 8vw;
    

   }

   .button-div a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    

    
}


}